/*---------- Estilos informes y reportes ----------*/
body {
    font-family: 'roboto_condensed_light';
    margin: auto;
    padding: auto;
}

header {
    background-color: #24292E;
    color: #F5F5F5;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
    background-color: #F5F5F5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #24292E;
}

section h2 {
    margin-top: 0;
}

form {
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

form input[type="date"] {
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
    background-color:#24292E;
    color: #F5F5F5;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #EC5252;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

thead {
    background-color: #24292E;
    color: #F5F5F5;
}

.fa-calendar-check{
	margin-left: 27px;
}